@model string
<!doctype html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<link href="/Default.css" rel="stylesheet">

	<title>Error</title>
</head>

<body>
	<h3>Error Http @ViewData["ErrorCode"]</h3>
	@Html.Raw(Model)
</body>
</html>
